 /* Fonts and utilities */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

 :root {
     --black: #131313;
     --white: #FFFFFF;
     --gray: #727272;
     --orange: #FF900E;
 }

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Work Sans', sans-serif;
     width: 100%;
     max-width: 1920px;
     height: 4760px;
     background: var(--white);
 }
/* -------***-------- */

 /* Full navigation section */
 .full-nav {
     width: 100%;
     background: #ff900e1a;
     margin-bottom: 85px;
 }

 .nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 50px 0;
     padding-left: 10%;
     padding-right: 10%;
 }

 .nav-bar-title {
     font-weight: 700;
     font-size: 45px;
     color: var(--black);
 }

 .nav-bar>ul {
     list-style: none;
     display: flex;
     gap: 5%;
     font-weight: 500;
     font-size: 18px;
     color: #424242;
 }

 .nav-details {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .nav-headline {
     width: 100%;
     max-width: 862px;
     margin-bottom: 32px;
 }

 .nav-headline>h1 {
     font-weight: 700;
     font-size: 64px;
     color: var(--black);
 }

 .nav-text {
     font-weight: 400;
     font-size: 16px;
     color: var(--gray);
 }

 .primary-btn {
     width: 100%;
     max-width: 180px;
     height: 64px;
     background: var(--orange);
     border-radius: 8px;
     border: none;
     font-weight: 600;
     font-size: 20px;
     color: var(--white);
 }

 .nav-details>img {
     width: 100%;
     max-width: 1440px;
     border-radius: 8px;
     margin: 45px 0;
 }
 /* Navigation section end */


 /* Main sections styles */
 /* Feature Styles start */
 .feature {
     padding: 0 20%;
     display: flex;
     align-items: center;
     gap: 10%;
     margin-bottom: 130px;
 }

 .two-two {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 24px;
 }

 .two-two>img {
     width: 100%;
     max-width: 342px;
 }

 .feature-info {
     width: 100%;
     max-width: 537px;
 }

 .feature-title {
     font-weight: 500;
     font-size: 45px;
     color: var(--gray);
     margin-bottom: 24px;
 }

 .feature-title>b {
     font-weight: 700;
     color: var(--black);
 }

 .feature-title>span {
     font-weight: 700;
     color: var(--orange);
 }

 .feature-info>p {
     font-weight: 400;
     font-size: 16px;
     color: var(--gray);
     margin-bottom: 32px;
 }

 /* ********** More feature styles ********* */
 .special {
     display: flex;
     gap: 10%;
     padding: 0 15%;
     margin: 130px 0;
 }

 .special-feature {
     width: 100%;
     max-width: 586px;
 }

 .special-header>h2 {
     font-weight: 700;
     font-size: 45px;
     columns: var(--black);
     width: 100%;
     max-width: 468px;
     border-left: 5px solid var(--orange);
     padding-left: 20px;
 }

 .special-header>p {
     width: 100%;
     max-width: 586px;
     font-weight: 400;
     font-size: 16px;
     color: var(--gray);
     margin: 25px 0;
 }

 .list {
     width: 100%;
     max-width: 586px;
     box-shadow: 0px 4px 30px #0000000f;
     border-radius: 8px;
     padding: 25px;
 }

 .list>h3 {
     font-weight: 600;
     font-size: 20px;
     color: var(--black);
     margin-bottom: 10px;
 }

 .text {
     font-weight: 400;
     font-size: 16px;
     color: var(--gray);
 }




 .special-btn {
     background: var(--orange);
     border-radius: 8px;
     font-weight: 600;
     font-size: 35px;
     color: var(--white);
     padding: 22px 20px;
     position: absolute;
     left: -30px;
     bottom: -77px;
 }

 .small-text {
     font-weight: 500;
     font-size: 18px;
     text-align: center;
     color: var(--white);
 }



 .box {
     position: relative;
     width: 100%;
     max-width: 800px;
     height: auto;
 }

 .box img {
     border-radius: 8px;
     width: 100%;
     max-width: 708px;
 }
/* Feature section end */

 /* Fact and Achievements */
 .fact {
     padding: 0 15%;
     margin-bottom: 140px;
 }

 .fact>h2 {
     font-weight: 700;
     font-size: 45px;
     color: var(--black);
 }


 .achievement {
     display: flex;
     justify-content: space-between;
     margin-left: 10%;
     margin-right: 10%;
 }


 .achievement-box {
     text-align: center;
     padding: 5px 5px;
     border: 1px solid var(--orange);
     border-radius: 8px;
     width: 240px;
     height: 240px;
 }

 .achievement-box:hover{
    background-color: rgb(137, 205, 183);
    transform: scale(1.1);
    transition: 1.2s;
 }

 .achievement-box>img {
     width: 45px;
     height: 45px;
 }

 .achievement-title {
     font-weight: 600;
     font-size: 45px;
     color: #424242;
     margin: 10px 0 5px;
     width: 100%;
 }

 .achievement-text {
     font-weight: 600;
     font-size: 20px;
     color: var(--gray);
 }

 /* Fact and Achievements end */

 /* ----------sponsor section----------- */
 .sponsors {
     text-align: center;
     margin: 130px 0;
 }

 .sponsors-text {
     font-weight: 400;
     font-size: 16px;
     color: var(--gray);
     padding: 25px 0 50px 0;
 }

 .sponsors-title {
     font-weight: 700;
     font-size: 45px;
     color: var(--black);
 }

 .sponsors-logo {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 5%;
     margin: 0 10%;
 }

 .sponsors-logo>img {
    max-width: 180px;
     filter: grayscale(100%);
 }
/* -----sponsor section end------- */

 /* ---------------Extra section CSS---------------- */
 .contact-info{
    background-color: rgb(63, 56, 56);
    position: fixed;
    top: 40%;
    z-index: 99999;
    left: 0;
  }
  .option{
    cursor: pointer;
    position: relative;
  }
  .option i{
    display: block;
    width: 60px;
    text-align: center;
    height: 80px;
    line-height: 60px;
    background: #bc5c9f;
    color: #b9b9b9;
    font-size: 20px;
    transition: 0.5s;
  }
  .option:hover i{
    color: #3498db;
  }
  .text{
    position: absolute;
    height: 60px;
    width: 120px;
    background: #1b1b1b;
    top: 0;
    z-index: -1;
    left: -140px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
  }
  
  .option:hover .text{
    left: 60px;
  }
  


 .comment-box {
     margin: 80px auto;
     width: 100%;
     max-width: 500px;
 }

 .comment-box>h2 {
     font-size: 20px;
     margin-bottom: 15px;
 }

 .comment-box input {
     width: 100%;
     height: 50px;
     padding: 0 20px;
     margin-bottom: 15px;
     border-radius: 5px;
     border: 1px solid #86b0b6;
 }

 .comment-box input: focus {
     border: 1px solid #000;
     outline: 0;
 }

 .comment-box textarea {
     width: 100%;
     height: 150px;
     padding: 15px 20px;
     margin-bottom: 10px;
     border-radius: 5px;
     border: 1px solid #86b0b6;
 }

 .comment-box textarea: focus {
     border: 1px solid #000;
     outline: 0;
 }

 .comment-box button {
     border: 0;
     padding: 10px 30px;
     background: #86b0b6;
     font-size: 18px;
     border-radius: 5px;
     color: var;
 }

 .comment-box button:hover {
     background-color: aquamarine;
 }
 /* Extra section end */


 /* Footerrr star */
 footer {
     height: 245px;
     text-align: center;
 }

 footer>p {
     font-weight: 400;
     font-size: 20px;
     background-color: #FFF4E7;
     border-radius: 5px;
     padding: 38px auto;
 }
/* Footerrr end  */



 /* ----RESPONSIVE---- */
 @media only screen and (max-width: 576px) {

     /* Responsive for Navigation bar */
     * {
         word-wrap: break-word;
     }
     .nav-bar {
         flex-direction: column;
         align-items: flex-start;
         gap: 20px;
     }
     .nav-headline>h1 {
         font-size: 50px;
     }
     .nav-bar-title {
         font-size: 35px;
     }
     ul {
         flex-direction: column;
     }


     /* Responsive for Main section Feature */
     .feature {
         flex-wrap: wrap;
     }
     .two-two {
         grid: none;
     }
     /* Special Feature */
     .special {
         flex-direction: column;
     }
     .special-btn{
        position: relative;
     }
     .achievement {
         flex-wrap: wrap;
         gap: 20px;
     }

          /* Responsive for sponsor logo */
     .sponsors-logo {
         flex-direction: column;
         column-gap: 200px;
     }

 }